/MantenimientoTPI-web/nbproject/
/MantenimientoTPI-web/target/
/MantenimientoTPI-ejb/nbproject/
/MantenimientoTPI-ejb/target/
/MantenimientoTPI-ear/target/
/LibreriaMantenimiento/target/
/Payaramicro/MantenimientoTPI-web.war
/MantenimientoTPI-web/Payaramicro/MantenimientoTPI-web.war
/MantenimientoTPI-web/src/main/webapp/WebComponent/.idea/
./idea
/.idea/